[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
datetime = "*"
python-slugify = "==6.1.1"
humanize = "*"
pytz = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
